* { margin: 0; padding: 0;}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, td, th{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {display: block;}

body { 
	font-size: 13px; 
	font-family: "OpenSans", arial, sans-serif; 
	color: #828282;
	background: #fff url(../images/bg.jpg) repeat fixed center;
}
h1, h2, h3, h4, h5, h6 { font-size: 16px; text-transform: uppercase; font-weight: bold;}
a { color: #66cccc; text-decoration: none;}

.group { display: inline-block; clear: both;} /******* for all elements float display **********/

.logo a {
	display: block;
	width: 292px;
	height: 48px;
	background: url(../images/logo.png) no-repeat top left;
	text-indent: -9999;
}

.menu ul {
	display: inline-block;
	margin-top: 40px;
	float: right;
}
.menu ul li {
	float: left;
	display: block;
}
.menu ul li a {
	text-decoration: none;
	color: #774703;
	padding: 0 10px;
	text-transform: uppercase;
	border-left: 1px solid #ccc;
	font-weight: bold;
}
.menu ul li:first-child a {
	border-left: none;
}
.menu ul li a:hover{
	color: #333;
}
.current_item_menu {
	color: #000;
}
.slider {
	margin-top: 10px;
}
.slider img {
	width: 100%;
}
.banner{
	margin-top: 10px;
}
.banner img{
	border: 3px solid #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	width: 100%;
}
.banner p{
	background-color: #000;
	opacity: 0.6;
	margin: 0 15px;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	color: #fff;
}
.content {
	text-align: center;
	margin-top: 30px;
	padding: 15px 0;
	border-top: 1px solid #ccc;
	display: inline-block;
}
.post {
	color: #242424;
}
.post ul{
	padding: 10px 15px;
}
.post li {
	line-height: 1.3em;
	margin: 10px 0;
}
.content p{
	padding: 0 30px;
	text-align: center;
}
.content h4{
	font-weight: bold;
	color: #333;
}
.gallery {

	margin: 10px 0;
}
.gallery div{
	padding: 5px;
	background-color: #fff;
	max-width: 250px;
}
.gallery img{
	width: 100%;
}
.gallery p{
	margin: 5px 0;
	font-weight: bold;
}
.btn-project-gallery {
	font-size: 16px;
	color: #fff;
	background: #000;
	padding: 10px 20px;
	display: inline-block;
	margin-left: 20px;
}
a.btn-project-gallery:hover{
	text-decoration: none;
	color: #fff;
}
.featured {
border-top: 4px solid;
padding-top: 20px;
}
.featured em {
	font-family: "Georgia", arial, sans-serif;
	font-style: italic;
}
.featured h4{
	margin-top: 20px;
	min-height: 30px;
	line-height: 1.0em;
}
.featured p{
	margin-top: 20px;
	padding: 0 10px;
}
.featured .circular-image{
	height: 200px ;
	width: 200px ;
	border-radius: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}
.contact-info {
	margin-top: 10px;
	font-family: "Georgia", arial, sans-serif;
	font-size: 16px;
	font-style: italic;
}
.contact-info .contact-phone {
	color: red;
}
.contact-info .contact-email{
	color: #33a5d2;
}
.footer{
	margin-top: 30px;
	padding: 15px 0;
	border-top: 1px solid #ccc;
}